/* === Base Styles ===*/
body {
    margin: 0 auto;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

/*== Header ==*/
header {
    padding: 20px 40px;
    background-color: #710627;
}

header h1 {
    font-size: 55px;
    font-family: "Lobster Two", cursive;
    color: #fff;
}

header p {
    line-height: 32px;
    font-size: 20px;
    color: #fff;
}

/*=== Drum Machine ===*/
#drum-machine {
    height: 50%;
    padding: 50px 0;
}

#display {
    border: 5px solid #595457;
    width: 100%;
    padding: 80px 0;
    font-size: 30px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

.drum-pads {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.drum-pad {
    border: 5px solid #595457;
    height: 135px;
    width: 100%;
    display: flex;
    padding: 47px 43px;
    margin-right: 19px;
    background-color: #595457;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}

/*== Footer ==*/
footer {
    padding: 5px;
    font-size: 16px;
    background-color: #710627;
    color: #fff;
    margin-top: 15px;
}