/* Header */
header {
  height: 300px;
  padding: 20px 0;
}

header h1 {
  font-size: 45px;
  padding-bottom: 10px;
}

header h2 {
  font-size: 35px;
  padding-bottom: 15px;
}

header p {
  font-size: 20px;
}

/* App styles */
#root {
  height: 500px;
  padding: 50px 0;
}

#display {
  border: 5px solid #333;
  width: 100%;
  padding: 80px 0;
  font-size: 30px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
}

#drum-pads {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.drum-pad {
  border: 5px solid #333;
  height: 135px;
  width: 100%;
  display: flex;
  padding: 45px 43px;
  margin-right: 19px;
  background-color: #333;
}

.drum-pad p {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}

/* Footer */
footer {
  padding: 25px;
  color: #333;
  font-size: 16px;
}
